/*
Alerts

A lightweight, flexible component that can optionally extend the entire viewport to showcase key content on your site.

Markup:
<div class="alert {{modifier_class}}">Well done! You successfully read this important alert message.</div>
<div class="alert {{modifier_class}} alert-dismissable">Well done! You successfully read this important alert message.<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>

.alert-success - alert success
.alert-info - alert info
.alert-warning - alert warning
.alert-danger - alert danger

Styleguide 2.15
*/
