/*
Buttons group

Group of buttons

Markup:
<div class="btn-group {{modifier_class}}">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>

.btn-group-lg - Large
.btn-group-sm - Small
.btn-group-xs - Extra small

Weight: 3

Styleguide components.btn-group
*/
