/*
Labels

Add any of the below mentioned modifier classes to change the appearance of a label.

Markup:
<h3>Example heading <span class="label {$modifiers}">New</span></h3>

.label-default - Default
.label-primary - Primary
.label-success - Success
.label-info - Info
.label-warning - Warning
.label-danger - Danger

Styleguide 2.11
*/
