/*
List group

List groups are a flexible and powerful component for displaying not only simple lists of elements, but complex ones with custom content.

Markup:
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>

Styleguide components.list-group
*/

/*
Badges

Add the badges component to any list group item and it will automatically be positioned on the right.

Markup:
<ul class="list-group">
  <li class="list-group-item"><span class="badge">14</span>Cras justo odio</li>
  <li class="list-group-item"><span class="badge">2</span>Dapibus ac facilisis in</li>
  <li class="list-group-item"><span class="badge">1</span>Morbi leo risus</li>
</ul>

Styleguide components.list-group.badges
*/
