/*
Navs

Navbars are responsive meta components that serve as navigation headers for your application or site. They begin collapsed (and are toggleable) in mobile views and become horizontal as the available viewport width increases.

Markup:
<ul class="nav {{modifier_class}}" role="tablist">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>

.nav-tabs - Simple navigation
.nav-pills - Pill navigation
.nav-tabs.nav-stacked - Stacked navigation
.nav-pills.nav-stacked - Pill and stacked navigation
.nav-tabs.nav-justified - Justified navigation
.nav-pills.nav-justified - Pill and justified navigation

Styleguide 2.3
*/
