/*
Pagination

Provide pagination links for your site or app with the multi-page pagination component, or the simpler pager alternative.

Markup:
<ul class="pagination {{modifier_class}}">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">Previous</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">Next</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>

.pagination-lg - larger
.pagination-sm - smaller

Styleguide 2.9
*/
