/*
Progress bars

Provide up-to-date feedback on the progress of a workflow or action with simple yet flexible progress bars.

Markup:
<div class="progress">
  <div class="progress-bar {{modifier_class}}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>

.progress-bar-success - Success
.progress-bar-info - Information
.progress-bar-warning - Warning
.progress-bar-danger - Danger

Weight: 16

Styleguide components.progress
*/

/*
With label

Remove the <code>&lt;span&gt;</code> with <code>.sr-only</code> class from within the progress bar to show a visible percentage.

Markup:
<div class="progress">
  <div class="progress-bar {{modifier_class}}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  </div>
</div>

Styleguide components.progress.label
*/

/*
With min-width

To ensure that the label text remains legible even for low percentages, consider adding a <code>min-width</code> to the progress bar.

Markup:
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
    0%
  </div>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 2%;">
    2%
  </div>
</div>

Styleguide components.progress.width
*/

/*
Striped

Use <code>.progress-bar-striped</code> to add a gradient to create a striped effect. Not available in IE9 and below.

Markup:
<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped {{modifier_class}}" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% Complete (success)</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped {{modifier_class}}" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
    <span class="sr-only">20% Complete</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped {{modifier_class}}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
    <span class="sr-only">60% Complete (warning)</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped {{modifier_class}}" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    <span class="sr-only">80% Complete (danger)</span>
  </div>
</div>

.active - Animate by adding <code>.active</code> to <code>.progress-bar-striped</code>.

Weight: 1

Styleguide components.progress.striped
*/

/*
Stacked

Place multiple bars into the same <code>.progress</code> to stack them.

Markup:
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 35%">
    <span class="sr-only">35% Complete (success)</span>
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
    <span class="sr-only">20% Complete (warning)</span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: 10%">
    <span class="sr-only">10% Complete (danger)</span>
  </div>
</div>

Weight: 2

Styleguide components.progress.stacked
*/
