/*
Progress bars

Provide up-to-date feedback on the progress of a workflow or action with simple yet flexible progress bars.

Markup:
<div class="progress">
  <div class="progress-bar {$modifiers}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar {$modifiers}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  </div>
</div>

.progress-bar-success - Success
.progress-bar-info - Information
.progress-bar-warning - Warning
.progress-bar-danger - Danger

Styleguide 2.16
*/
