/*
Buttons

Use any of the available button classes to quickly create a styled button.

Markup:
<button type="button" class="btn {{modifier_class}}">Button</button>

.btn-default - Default
.btn-success - Success
.btn-info - Info
.btn-warning - Warning
.btn-danger - Danger
.btn-link - Link

Weight: 6

Styleguide css.button
*/

/*
Sizes

Fancy larger or smaller buttons? Add <code>.btn-lg</code>, <code>.btn-sm</code>, or <code>.btn-xs</code> for additional sizes.

Markup:
<button type="button" class="btn {{modifier_class}}">Button</button>

.btn-lg - Large
.btn-sm - Small
.btn-xs - Extra small

Styleguide css.button.sizes
*/
