/*
Code

Wrap inline snippets of code with <code>&lt;code&gt;</code>.

Markup:
For example, <code>&lt;section&gt;</code> should be wrapped as inline.

Styleguide 1.4
*/

/*
User input

Use the <code>&lt;kbd&gt;</code> to indicate input that is typically entered via keyboard.

Markup:
To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>

Styleguide 1.4.1
*/

/*
Basic block

Use &lt;pre&gt; for multiple lines of code. Be sure to escape any angle brackets in the code for proper rendering.

Markup:
<pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>

Styleguide 1.4.2
*/
