/*
Tables

For basic styling-light padding and only horizontal dividers-add the base class .table to any &lt;table&gt;. It may seem super redundant, but given the widespread use of tables for other plugins like calendars and date pickers, we have opted to isolate our custom table styles.

Markup: <table class="table {$modifiers}">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
      </tbody>
</table>

.table-striped - Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>
.table-bordered - Add <code>.table-bordered</code> for borders on all sides of the table and cells.
.table-hover - Add <code>.table-hover</code> to enable a hover state on table rows within a &lt;tbody&gt;.
.table-condensed - Add <code>.table-condensed</code> to make tables more compact by cutting cell padding in half.

Styleguide 1.2.0
*/

/*
Contextual classes

Use contextual classes to color table rows or individual cells.

Markup: <table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Column heading</th>
            <th>Column heading</th>
            <th>Column heading</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="{$modifiers}">
            <td>2</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
      </tbody>
</table>

.active - Applies the hover color to a particular row or cell
.success - Indicates a successful or positive action
.info - Indicates a neutral informative change or action
.warning - Indicates a warning that might need attention
.danger - Indicates a dangerous or potentially negative action

Styleguide 1.2.1
*/

/*
Responsive tables

Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code> to make them scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference in these tables.

Markup: <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Column heading</th>
                <th>Column heading</th>
                <th>Column heading</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
          </tbody>
    </table>
</div>

Styleguide 1.2.2
*/