/*
Bootstrap

Bootstrap is the most popular HTML, CSS, and JS framework in the world for building responsive, mobile-first projects on the web.

Styleguide: bootstrap
*/

/*
CSS

Global CSS settings, fundamental HTML elements styled and enhanced with extensible classes, and an advanced grid system.

Styleguide: bootstrap.css
*/

/*
Components

Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.

Styleguide: bootstrap.components
*/

/*
JavaScript

Bring Bootstrap's components to life with over a dozen custom jQuery plugins. Easily include them all, or one by one.

Styleguide: bootstrap.javascript
*/
