/*
Breadcrumbs

Indicate the current page's location within a navigational hierarchy.

Markup:
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>

Weight: 8

Styleguide: bootstrap.components.breadcrumb
*/
