/*
Helpers

There are many helper classes available.

Weight: 8

Styleguide: bootstrap.css.helper
*/

/*
Contextual colors

Convey meaning through color with a handful of emphasis utility classes. These may also be applied to links and will darken on hover just like our default link styles.

Markup:
<p class="text-muted">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
<p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
<p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>

Styleguide: bootstrap.css.helper.color
*/

/*
Contextual backgrounds

Similar to the contextual text color classes, easily set the background of an element to any contextual class. Anchor components will darken on hover, just like the text classes.

Markup:
<p class="bg-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="bg-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
<p class="bg-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
<p class="bg-warning">Etiam porta sem malesuada magna mollis euismod.</p>
<p class="bg-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>

Weight: 1

Styleguide: bootstrap.css.helper.background
*/

/*
Close icon

Use the generic close icon for dismissing content like modals and alerts.

Markup:
<button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

Weight: 1

Styleguide: bootstrap.css.helper.close
*/

/*
Carets

Use carets to indicate dropdown functionality and direction. Note that the default caret will reverse automatically in dropup menus.

Markup:
<span class="caret"></span>

Weight: 2

Styleguide: bootstrap.css.helper.caret
*/
