/*
Labels

Add any of the below mentioned modifier classes to change the appearance of a label.

Markup:
<h5>Example heading <span class="label {{modifier_class}}">New</span></h5>

.label-default - Default
.label-primary - Primary
.label-success - Success
.label-info - Info
.label-warning - Warning
.label-danger - Danger

Weight: 10

Styleguide: bootstrap.components.label
*/
