/*
Popover

Inspired by the excellent jQuery.tipsy plugin written by Jason Frame; Tooltips are an updated version, which don't rely on images, use CSS3 for animations, and data-attributes for local title storage.

Markup: popover.twig

Weight: 7

Styleguide javascript.popover
*/
