/*
ScrollSpy

The ScrollSpy plugin is for automatically updating nav targets based on scroll position. Scroll the area below the navbar and watch the active class change. The dropdown sub items will be highlighted as well.

Markup: scrollspy.twig

Weight: 4

Styleguide: bootstrap.javascript.scrollspy
*/
